<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eurotext\TranslationManager\Api\ProjectRepositoryInterface" type="Eurotext\TranslationManager\Repository\ProjectRepository" />
    <preference for="Eurotext\TranslationManager\Api\ProjectProductRepositoryInterface" type="Eurotext\TranslationManager\Repository\ProjectProductRepository" />

    <type name="\Eurotext\TranslationManager\Command\NewProjectCommand">
        <arguments>
            <argument name="createProject" xsi:type="object">Eurotext\TranslationManager\Command\Service\CreateProjectService\Proxy</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Seeder\EntitySeederPool">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="product_seeder" xsi:type="object">Eurotext\TranslationManager\Seeder\ProductSeeder</item>
            </argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Sender\EntitySenderPool">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="product_sender" xsi:type="object">Eurotext\TranslationManager\Sender\ProductSender</item>
            </argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Receiver\EntityReceiverPool">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="product_receiver" xsi:type="object">Eurotext\TranslationManager\Receiver\ProductReceiver</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="eurotext_createproject" xsi:type="object">Eurotext\TranslationManager\Command\NewProjectCommand</item>
            </argument>
        </arguments>
    </type>
</config>
