<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eurotext\TranslationManager\Api\ScopeConfigReaderInterface" type="Eurotext\TranslationManager\ScopeConfig\ScopeConfigReader" />
    <preference for="Eurotext\TranslationManager\Api\ProjectRepositoryInterface" type="Eurotext\TranslationManager\Repository\ProjectRepository" />

    <preference for="Eurotext\RestApiClient\Api\ProjectV1ApiInterface" type="Eurotext\TranslationManager\ApiClient\ProjectV1Api" />
    <preference for="Eurotext\RestApiClient\Api\Project\ItemV1ApiInterface" type="Eurotext\TranslationManager\ApiClient\ItemV1Api" />
    <preference for="Eurotext\RestApiClient\ConfigurationInterface" type="Eurotext\TranslationManager\ApiClient\Configuration" />

    <preference for="Eurotext\RestApiClient\Validator\ProjectStatusValidatorInterface" type="Eurotext\RestApiClient\Validator\ProjectStatusValidator" />

    <type name="Eurotext\TranslationManager\Command\NewProjectCommand">
        <arguments>
            <argument name="newProject" xsi:type="object">Eurotext\TranslationManager\Command\Service\NewProjectService\Proxy</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Command\SeedEntitiesCommand">
        <arguments>
            <argument name="seedEntitiesService" xsi:type="object">\Eurotext\TranslationManager\Command\Service\SeedEntitiesService\Proxy</argument>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Command\SendProjectCommand">
        <arguments>
            <argument name="sendProject" xsi:type="object">Eurotext\TranslationManager\Service\SendProjectService\Proxy</argument>
            <argument name="projectStateMachine" xsi:type="object">Eurotext\TranslationManager\State\ProjectStateMachine\Proxy</argument>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Command\ReceiveProjectCommand">
        <arguments>
            <argument name="receiveProject" xsi:type="object">Eurotext\TranslationManager\Command\Service\ReceiveProjectCliService\Proxy</argument>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Service\Project\CreateProjectService">
        <arguments>
            <argument name="logger" xsi:type="object">Eurotext\TranslationManager\Logger\ApiLogger</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Service\Project\CreateProjectEntitiesService">
        <arguments>
            <argument name="logger" xsi:type="object">Eurotext\TranslationManager\Logger\ApiLogger</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Service\Project\TransitionProjectService">
        <arguments>
            <argument name="logger" xsi:type="object">Eurotext\TranslationManager\Logger\ApiLogger</argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Logger\ApiLogger" shared="true" />

    <type name="Eurotext\TranslationManager\Seeder\EntitySeederPool">
        <arguments>
            <argument name="items" xsi:type="array">
            </argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Sender\EntitySenderPool">
        <arguments>
            <argument name="items" xsi:type="array">
            </argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Receiver\EntityReceiverPool">
        <arguments>
            <argument name="items" xsi:type="array">
            </argument>
        </arguments>
    </type>

    <type name="Eurotext\TranslationManager\Entity\EntityTypePool">
        <arguments>
            <argument name="items" xsi:type="array">
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="etm_project_new" xsi:type="object">Eurotext\TranslationManager\Command\NewProjectCommand</item>
                <item name="etm_project_send" xsi:type="object">Eurotext\TranslationManager\Command\SendProjectCommand</item>
                <item name="etm_project_receive" xsi:type="object">Eurotext\TranslationManager\Command\ReceiveProjectCommand</item>
                <item name="etm_entity_types" xsi:type="object">Eurotext\TranslationManager\Command\ListEntitiesCommand</item>
                <item name="etm_entity_seed" xsi:type="object">Eurotext\TranslationManager\Command\SeedEntitiesCommand</item>
            </argument>
        </arguments>
    </type>
</config>
